<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Helpen in Leiden</title>
    <description>
      Wij brengen buurtbewoners die hulp nodig hebben en hulp aanbieden met
      elkaar in contact.
    </description>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron bg-info text-white">
            <h1 class="display-4">Corona hulp Leiden</h1>
            <p class="lead">
              In de afgelopen week zijn we opgeschrikt door de verspreiding van
              het Coronavirus in Nederland. Dit heeft veel gevolgen voor het
              dagelijks leven, en zeker voor mensen die hulpbehoevend zijn door
              bijvoorbeeld een zwakke gezondheid of het werken in de zorg.
              <br />
              <br />
              Graag willen wij de buurtbewoners van Noordvest-Molenbuurt in
              actie brengen, om elkaar in deze uitdagende tijd te helpen. Dat
              kan door bij ons aan te geven of je hulp nodig hebt of graag hulp
              aan wil bieden, denk bijvoorbeeld aan:
            </p>

            <ul class="lead">
              <li>Het doen van boodschappen</li>
              <li>Het uitlaten van de hond</li>
              <li>
                Het oppassen op kinderen omdat je zelf in de zorg o.i.d. werkt
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h4>Ik wil helpen</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Heb jij tijd vrij en wil je graag helpen? Vul het formulier in
                via de onderstaande link.
              </p>
              <a
                target="_blank"
                href="https://tinyurl.com/helpen-in-leiden"
                class="btn btn-lg btn-success text-white"
                >Bied hulp aan</a
              >
            </div>
          </div>
        </div>

        <div class="col-md mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h4>Ik zoek hulp</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Kunt u hulp gebruiken doordat u thuis niet meer wag mag of
                durft? Vul dan het formulier in via de onderstaande link.
              </p>
              <a
                target="_blank"
                href="https://tinyurl.com/hulp-gezocht-leiden"
                class="btn btn-lg btn-danger text-white"
                >Vraag om hulp</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="p-4 border  border-info rounded">
            <p class="lead">
              Wij brengen buurtbewoners die hulp nodig hebben en hulp aanbieden
              graag met elkaar in contact. Heb je vragen? Neem dan contact met
              ons op via
              <a href="mailto:helpeninleiden@gmail.com"
                >helpeninleiden@gmail.com</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
